h1, h2, h3, h4, h5 {
    color: var(--headingColor);
    font-family: "Charlie Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 4rem;
    line-height: 1.33333333;
}

h2 {
    font-size: 1.8rem;
    line-height: 1.3333333;
}
